* {
  margin: 0;
  box-sizing: border-box;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.header {
  background-color: #90bd90;
  width: 100%;
  max-width: 900px;
}

.title_header {
  color: aliceblue;
  text-align: center;
  text-transform:uppercase ;
  margin: 10px 0;
}

.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.list_item_content {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 8px;
}

.main {
  background-color: steelblue;
  width: 900px;
  min-height: 75vh;
}

.title_main {
  color: aliceblue;
  text-align: center;
  text-transform:uppercase;
  margin: 10px ;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 0px;
  }

.block {
  background-color: #3030b7;
  width: 100%;
  max-width: 200px;
  min-height: 16vh;
  margin: 10px;
  color: aliceblue;
  font-size: 30px;
  text-align: center;
  padding-top: 5vh;
}

.footer {
  background-color: rgba(13, 181, 233, 0.486);
  width: 100%;
  max-width: 900px;
}

.title_footer {
  color: aliceblue;
  text-align: center;
  text-transform:uppercase;
  margin: 13px 0;
}